<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<header>
    <a class="skill_name" href="/">
        <span>Я</span>Quiz
    </a>
    <div class="user_wrapper">
        {% if current_user.is_authenticated %}
        <a>
            {{ current_user.username }}
        </a>
         
        <a href="/signout">
            Выход
        </a>
        {% else %}
        <a href="/signin">
            Вход
        </a>
         
        <a href="/signup">
            Регестрация
        </a>
        {% endif %}
    </div>
</header>

<body>
    <div class="central_div">
        <p>
            Такого квиза не существует или он не принадлежит вам
        </p>
    </div>
</body>

</html>