<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>ЯQuiz | Создание Quiz'а</title>
</head>
<header>
    <a class="skill_name" href="/">
        <span>Я</span>Quiz
    </a>
    <div class="user_wrapper">
        <!-- TODO: если пользователь не вошел выводить вот это -->
        <a href="/signin">
            Вход
        </a>
         
        <a href="/signup">
            Регестрация
        </a>
        <!-- TODO: если вошел что то типо
        <a href="/signout">
            имя пользователя
        </a>
        -->
    </div>
</header>

<body>
    <div class="central_div">
        <form action="createquiz/post" method="post" class="float_panels">
            <!-- TODO: подгрузка Quiz'а из БД -->
            <!-- Так выглядит структура для названия и описания Quiz'а -->
            <div class="panel main_panel">
                <div class="panel-content">
                    <input type="text" id="title" placeholder="Название вашего Quiz'а" value="СЮДА НАЗВАНИЕ ИЗ БД">
                    <textarea name="desctiption" id="desctiption" rows="5"
                        placeholder="Описание вашего Quiz'а">СЮДА ОПИСАНИЕ ИЗ БД</textarea>
                </div>
            </div>
            <!-- Конец названия и описания -->
            <!-- Так выглядит структура для каждого вопроса -->
            <div class="panel">
                <div class="panel-content">
                    <input class="quiz_question" type="text" name="question{i}" id="question{i}"
                        placeholder="Вопрос {i}" value="СЮДА ВОПРОС ПОД НОМЕРОМ {i}">
                    <!-- Эту структуру повторить для каждого из ответов -->
                    <li class="quiz_answer">
                        <input class="quiz_answer-text" type="text" name="question{i}_answer1" id="answer{j}"
                            placeholder="Вариант {j}" value="СЮДА ОТВЕТ ДЛЯ ВОПРОСА {i} ПОД НОМЕРОМ {j}">
                        <select name="" id=""></select>
                    </li>
                    <!-- Конец структуры ответа на вопрос -->
                    <button class="add_answer" form="">Добавить ответ</button>
                </div>
            </div>
            <!-- Конец структуры вопроса -->
            <button class="add_panel" form="">
                Добавить панель
            </button>
            <input type="submit" value="Создать">
        </form>
    </div>
    <script src="../static/js/script.js"></script>
</body>

</html>