<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>ЯQuiz | Вход в аккаунт</title>
</head>
<header>
    <a class="skill_name" href="/">
        <span>Я</span>Quiz
    </a>
    <div class="user_wrapper">
        <a href="/signup">
            Регестрация
        </a>
    </div>
</header>

<body>
    <div class="central_div">
        <form class="float_panels" action="sign_up" method="post">
            <div class="panel-group">
                <div class="panel main_panel">
                    <input class="input_padding" type="text" name="login" id="login" placeholder="Логин">
                </div>
                <div class="panel">
                    <input class="input_padding" type="text" name="password" id="password1" placeholder="Пароль">
                </div>
            </div>
            <input type="submit" value="Войти">
        </form>
    </div>
</body>

</html>