<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>ЯQuiz | Вход в аккаунт</title>
</head>
<header>
    <a class="skill_name" href="/">
        <span>Я</span>Quiz
    </a>
    <div class="user_wrapper">
        <a href="/signup">
            Регистрация
        </a>
    </div>
</header>

<body>
    <div class="central_div">
        <form class="float_panels" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="panel-group">
                <div class="panel main_panel">
                    {{ form.username(class="input_padding", type="text", id="login", placeholder="Логин") }}
                    {% for error in form.username.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="panel">
                    {{ form.password(class="input_padding", type="text", id="password1", placeholder="Пароль") }}
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {{form.submit(type="submit", value="Войти")}}
            <div0> {{ message }} </div>
        </form>
    </div>
</body>
</html>