<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<header>
    <a class="skill_name" href="/">
        <span>Я</span>Quiz
    </a>
    <div class="user_wrapper">
            <a href="/signin">
                Вход
            </a>
             
            <a href="/signup">
                Регестрация
            </a>
    </div>
</header>

<body>
    <div class="central_div">
        Для начала, зарегестрируйтесь, или войдите в аккаунт
    </div>
</body>

</html>